<h1>Published Pages</h1>
<% @posts.each do |post| %>
  <div class="jumbotron">
    <h2>
      <%= link_to post.title, post_path(post) %>
    </h2>
    <p>
      <%= post.status %>
    </p>
    <p>
      <%= "Created #{post.created_at}" %>
    </p>
  </div>
<% end %>
